# S3
S3_ENDPOINT_URL=https://s3.twcstorage.ru
S3_BUCKET=38af486f-b0e9-4d3f-998a-79f712ebcc7f
S3_ACCESS_KEY=E2152EKZVNZD701BB8HA
S3_SECRET_KEY=PZSHfmhV5imwxCORAqc7sLtZAXAdHaDOAre6xQg8

# Kafka
KAFKA_BOOTSTRAP_SERVERS=138.124.54.72:9092

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=regtech
DB_USER=regtech
DB_PASSWORD=regtech_secret

# Worker intervals (hours)
CBU_INTERVAL_HOURS=12
LEX_INTERVAL_HOURS=24
EURLEX_INTERVAL_HOURS=168
FATF_INTERVAL_HOURS=168
